.debris
.gsd-keyboard.settings-ported
.megaignore
BraveSoftware
Electron
Element
Ferdium
GIMP
Google
Microsoft
Proton
QtProject.conf
SEGGER*
Trolltech.conf
VSCodium
autostart
connections.db
dconf
enchant
evolution
foot
go
google-chrome
gtk-*
libreoffice
mako
mimeapps.list
nwg-wrapper
rygel.conf
systemd
teams
user-dirs*
yelp
